body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header  header  header"
  "section section section"
  "footer  footer  footer";
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
  position: relative;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

body.app {
  a.button strong {
    font-weight: 400;
  }
}

