body > div {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header  header  header"
  "section section section"
  "footer  footer  footer";
  grid-template-rows: auto 1fr auto;
}

// HEADER
header {
  grid-area: header;
  position: relative;
  border-bottom: 1px solid $dark-liver;
}

//SECTION
section {
  grid-area: section;
  padding: 20px;
  > .container {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

// FOOTER
footer {
  grid-area: footer;
  padding: 30px;
  background-color: $light;
  > div {
    display: flex;
    h4 {
      ul {
        list-style: none;
        padding-left: 0;
      }
    }
    h4.author {
      white-space: nowrap;
    }
  }
}

body.app {
  a.button strong {
    font-weight: 400;
  }
  a:hover {
    color: $link;
    text-decoration: underline;
  }
}

