body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header  header  header"
  "section section section"
  "footer  footer  footer";
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
  position: relative;
  border-bottom: 1px solid $dark-liver;
}

section {
  grid-area: section;
  > .container {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

footer {
  grid-area: footer;
  padding: 30px;
  background-color: $dark-liver;
  color: $white;
}

body.app {
  a.button strong {
    font-weight: 400;
  }
}

