{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel",
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./app/components",
        "screens": "./app/screens",
        "utils": "./app/utils",
        "types": "./app/types",
      }
    }]
  ]
}