@import '../../styles/colors.scss';

.auth-modal-container {
  .auth-modal-content {
    height: 100%;
    display: flex;
    .landing, .auth {
      width: 50%;
    }
    .landing {
      background-color: $primary;
    }
    .auth {
      background-color: $muted-bg;
      .auth-content {
        h1 {
          margin-bottom: 20px;
        }
        input {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .auth-modal-container {
    .auth-modal-content {
      flex-direction: column-reverse;
      .landing, .auth {
        width: 100%;
        min-height: 50vh;
      }
    }
  }
}