@import '../../styles/colors.scss';

.auth-modal-container {
  .auth-modal-content {
    min-height: 100vh;
    display: flex;
    .landing, .auth {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 20px;
      .inner-content {
        max-width: 80%;
        width: auto;
      }
    }
    .landing {
      background-color: $primary;
    }
    .auth {
      background-color: $muted-bg;
      .inner-content {
        h1 {
          margin-bottom: 20px;
        }
        form {
          padding-bottom: 30px;
          input {
            margin-bottom: 10px;
          }
          button[type="submit"] {
            margin-top: 20px;
            width: 170px;
          }
        }
      }
      button[type="button"] {
        margin-top: 20px;
      }
      .new-account {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 20px 0px 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .auth-modal-container {
    .auth-modal-content {
      flex-direction: column-reverse;
      .landing, .auth {
        width: 100%;
        min-height: 50vh;
      }
    }
  }
}