@import '../../styles/colors.scss';

input.st-input {
  &:hover {
    box-shadow: none;
    border: 1px solid $primary;
  }
  &:focus, &:active {
    box-shadow: none;
    border: 2px solid $primary;
  }
}